@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app {
  font-size: 18px;
}

body {
  background-color: aliceblue; /* замените на нужный вам цвет или изображение */
}

.app-wrap {
  margin: 0px auto;
  position: relative;
}

input {
  width: 100%;
  border: 0;
  padding: 10px 0;
  outline: none;
  resize: vertical;
}

.loader{
  top: 80%;
  position: absolute;
  transform: translate(0, 100%);
  width: 300px;
}